<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          create a new organization account
        </h2>
      </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6 flex-col items-center">
        <div class="rounded-md shadow-sm -space-y-px  flex flex-col items-center">
          <!-- Bind organization control -->
          <div class="mx-auto py-5">
            <p-floatLabel class=" inline-block">
                <input id="organization" type="text" pInputText formControlName="organization" />
                <label for="organization">Organization</label>
            </p-floatLabel>
          </div>
          <!-- Bind username control -->
            <div class="mx-auto py-5">
                <p-floatLabel class=" inline-block">
                    <input id="username" type="text" pInputText formControlName="userName" />
                    <label for="username">username</label>
                </p-floatLabel>
            </div>
            <!-- Bind password control -->
            <div class="mx-auto py-5 justify-center">
                <p-floatLabel>
                    <input id="password" type="password" pPassword formControlName="password" />
                    <label for="password">password</label>
                </p-floatLabel>
            </div>
        </div>
  
        <div>
          <button type="submit"
                  class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            sign up
          </button>
        </div>
      </form>

    </div>
  </div>
  